<header class="header">
	<a href="/" class="name">DETOX cafe</a>
	<a href="/food" class="menu">Блюда</a>
	<a href="/drinks" class="menu">Напитки</a>
	<a href="/order" class="menu">Заказать столик</a>
	<a href="/delete" class="menu">Отменить бронь</a>
</header>
<div class="buffer"></div>