<main class="food">
	<article class="dish">
		<div class="wrap-img">
			<img class="img" src="images/dish1.jpg">
		</div>
		<div class="wrap-desc">
			<h2 class="dish-name">Биточки из индейки</h2>
			<h3 class="price">370 руб.</h3>
			<h3 class="structure">Состав: индейка, яйцо, перец болгарский, сырный соус, батат, эдамаме бобы, виноградное масло.
			</h3>
		</div>
	</article>
	<article class="dish">
		<div class="wrap-img">
			<img class="img" src="images/dish2.jpg">
		</div>
		<div class="wrap-desc">
			<h2 class="dish-name">Cтейк из лосося</h2>
			<h3 class="price">650 pуб.</h3>
			<h3 class="structure">Состав: лосось филе, руккола, гранатовый соус наршараб, гранат.
			</h3>
		</div>
	</article>
	<article class="dish">
		<div class="wrap-img">
			<img class="img" src="images/dish3.jpg">
		</div>
		<div class="wrap-desc">
			<h2 class="dish-name">Cоте из креветок</h2>
			<h3 class="price">490 руб.</h3>
			<h3 class="structure">Состав: креветки, томаты черри, авокадо, шпинат, оливковое масло, сливочное масло.
			</h3>
		</div>
	</article>
</main>