<main class="drinks">
	<article class="drink">
		<div class="wrap-img">
			<img class="img" src="images/drink1.jpg">
		</div>
		<div class="wrap-desc">
			<h2 class="drink-name">Citrus 1</h2>
			<h3 class="price">300 руб.</h3>
			<h3 class="structure">Состав: яблоко свежее, ананас свежий, лимон свежий, мята свежая.
			</h3>
		</div>
	</article>
	<article class="drink">
		<div class="wrap-img">
			<img class="img" src="images/drink2.jpg">
		</div>
		<div class="wrap-desc">
			<h2 class="drink-name">Citrus 2</h2>
			<h3 class="price">300 pуб.</h3>
			<h3 class="structure">Состав: грейпфрут свежий, мята свежая.
			</h3>
		</div>
	</article>
	<article class="drink">
		<div class="wrap-img">
			<img class="img" src="images/drink3.png">
		</div>
		<div class="wrap-desc">
			<h2 class="drink-name">Citrus 3</h2>
			<h3 class="price">300 руб.</h3>
			<h3 class="structure">Состав: лимон, сироп топинамбура, кайенский перец, вода.
			</h3>
		</div>
	</article>
</main>