<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="header">
		<p class="name">DETOX cafe</p>
		<p class="menu">Блюда</p>
		<p class="menu">Напитки</p>
	</header>
	<main class="food">
		<article class="dish">
			<div class="wrap-img">
				<img class="" src="/images/dish1.jpg">
			</div>
			<div class="wrap-desc">
				<h2 class="dish-name">Романо на гриле</h2>
				<h3 class="price">250 руб.</h3>
			</div>
			<div class="wrap-fulldesc">
				<h3 class="structure">Состав: романо, черри, хлеб льняной, сырный соус (сливки 22%, сыр гауда, масло сливочное, сыр пармезан), соль, нут печеный, мексиканские специи, масло зеленое (масло виноградной косточки, базилик, руккола, петрушка, соль, чеснок), чеснок сушеный молотый, микрозелень гороха, перец черный молотый.
				</h3>
			</div>
		</article>
	</main>
  </body>
</html>
